<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="/public/images/icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/vendor/animate.css">
    <link rel="stylesheet" href="/public/scss/home.css">
  </head>
  <body>
    <div class="background-image">
        <a href="/sign-in" class="btnJoinChat wow bounce" data-wow-iteration="3">Join</a>
    </div>
    <script src="/public/vendor/wow.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>