<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/icon.ico" />
    <title>Verify</title>
    <link rel="stylesheet" href="/public/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/public/vendor/bootstrap.css">
</head>
<body>
    <div class="container">
        <section class="content text-center">
            <div class="error-page">
                <h2 class="headline text-success"><i class="zmdi zmdi-check-circle"></i> Success.</h2>
        
                <div class="error-content">
                    <h2><i class="zmdi zmdi-account-circle text-info"></i> You can login.</h3>
                    <h4 class="text-danger">
                        <i class="zmdi zmdi-long-arrow-right font-weight-bold"></i> <a href="/sign-in">Login now.</a>
                    </h4>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
            </section>
    </div>
    <style>
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10rem;
        }

        .error-content a { text-decoration: none; color: #c0392b;}

        h2.headline.text-success{ font-size: 5rem;}
    </style>
    <script src="/public/vendor/jquery-3.5.1.js"></script>
    <script src="/public/vendor/bootstrap.js"></script>
</body>
</html>